server/astive-core/src/main/resources/app.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="app" type="appType"/>
  <xs:complexType name="astivletType">
    <xs:sequence>
      <xs:element type="xs:string" name="astivletId" maxOccurs="1" minOccurs="1"/>
      <xs:element type="xs:string" name="class" maxOccurs="1" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="astivletMappingType">
    <xs:sequence>
      <xs:element type="xs:string" name="astivletId" maxOccurs="1" minOccurs="1"/>
      <xs:element type="xs:string" name="urlPattern" maxOccurs="1" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="appType">
    <xs:sequence>
      <xs:element type="xs:string" name="name" maxOccurs="1" minOccurs="1" nillable="false"/>
      <xs:element type="xs:string" name="description" maxOccurs="1" minOccurs="1" nillable="false"/>
      <xs:element type="astivletType" name="astivlet" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="astivletMappingType" name="astivletMapping" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>